@media all and (max-width: 992px) {
    
    #main-nav .toggle {
        display:block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    
    #main-nav ul {
        display:none;
    }
}
#main-nav #drop:checked + ul {
    display:block;
}

