@media all and (max-width: 992px) {
    #main-nav .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    #main-nav ul {
        display: none;
    }
    #main-nav #drop:checked+ul {
        display: block;
    }
    ul>li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
        color: black;
    }
}

@media all and (max-width: 768px) {
    display: block;
    background-color: #fff;
    padding: 0 20px;
    color: #1ac056;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
    text-align: right;
    
    
    #main-nav ul {
        display: none;
    }
    #main-nav#drop:checked+ul {
        display: block;
    }
    ul>li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    
    
    h1 h2 {
font-size: 0.5em;    
}
    
}


